body{
    background-image: linear-gradient(#CF0820,#FFD800,#002680);
    height: 102vh;
    text-align: center;
}
.MapBC{
    width:25vw;
    border: black;
    border: solid;
    border-width: 5px;
    border-radius: 40px;
    transition: 1s;
    position: absolute;
    top:15vh;
    left:1vw;
}

.MapBC:hover{
    width:40vw;
}
.FlagBC{
    width:30vw;
    border: black;
    border: solid;
    border-width: 5px;
    border-radius: 40px;
    transition: 1s;
    position: absolute;
    top:15vh;
    right:1vw;
}

.FlagBC:hover{
    width:50vw;
}

.Select{
    width:8vw;
    height:5vh;
    background-color: lightgreen;
    border: dotted;
    border-width: 3px;
    border-radius: 5px;

    top:1vh;
    position: absolute;
    text-align: center;


}

.home{
    left:1vw;
}

.oregon{
    left:10vw;
}

.text{
    position: relative;
    top:1.3vh;
    text-decoration: none;
    color: black;

}

.washington{
    left:19vw;
}
.columbia{
    left:28vw;
}


.oregonN{

    top:6vh;
    left:10vw;
    display: none;
    z-index: 10;
}
.Oregonian:hover > .oregonN{

    display: block;
}

.oregonM{

    top:11vh;
    left:10vw;
    display: none;
    z-index: 10;
}

.Oregonian:hover > .oregonM{

    display: block;
}



.washingtonN{

    top:6vh;
    left:19vw;
    display: none;
    z-index: 10;
}
.washington:hover ~ .washingtonN{

    display: block;
}
.washingtonN:hover{

    display:block;
}

.columbiaN{

    top:6vh;
    left:28vw;
    display: none;
    z-index: 10;
}
.columbia:hover ~ .columbiaN{

    display: block;
}
.columbiaN:hover{

    display:block;
}

h1{
    position: absolute;
    top:4vh;
    font-size: 50px;
    width: 100%;
}

.open{
    position: absolute;
    top:14vh;
    width: 30vw;
    left: 32vw;
}
p{
    font-size: 30px;
}

.Ker{
    width:10vw;
    border: black;
    border: solid;
    border-width: 5px;
    border-radius: 40px;
    transition: 1s;
    position: absolute;
    bottom:4vh;
    right:1vw;
}
.Ker:hover{
    width:15vw;
}

sub{
    position: absolute;
    bottom:0vh;
    right:1vw;
}

.Nature{
    top:80vh;
    left:35vw;
    z-index: -1;
}
.Man{
    top:80vh;
    left:44vw;
    z-index: -1;
}
.Town{
    top:80vh;
    left:53vw;
    z-index: -1;
}