body{
    background-image: linear-gradient(#CF0820,#FFD800,#002680);
}
.MapBC{
    width:25vw;
    border: black;
    border: solid;
    border-width: 5px;
    border-radius: 40px;
    transition: 1s;
    position: absolute;
    top:20vh;
    left:1vw;
}

.MapBC:hover{
    width:40vw;
}
.FlagBC{
    width:30vw;
    border: black;
    border: solid;
    border-width: 5px;
    border-radius: 40px;
    transition: 1s;
    position: absolute;
    top:20vh;
    right:1vw;
}

.FlagBC:hover{
    width:50vw;
}

.Select{
    width:5vw;
    height:5vh;
    background-color: lightgreen;
    border: dotted;
    border-width: 3px;
    border-radius: 5px;

    top:1vh;
    position: absolute;
    text-align: center;


}

.home{
    left:1vw;
}

.oregon{
    left:6vw;
}

.text{
    position: relative;
    top:1.3vh;
    text-decoration: none;
    color: black;

}


.oregonN{
    transition: 0.5s;
    opacity: 0;
    top:6vh;
    left:6vw;
}
.oregon:hover ~ .oregonN{
    opacity: 1;
}
.oregonN:hover{
    opacity: 1;
}

